<%= form_for(@micropost) do |f| %>
  <%= render 'layouts/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  </div>
  <%= render 'images/form' %>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>